body {
  font-family: "Quicksand", sans-serif;
  background-color: white;
  width: 100%;
}

/* I can't remember why I added this but I do know that when I remove this div, it really messes up the page! */

.everything-everywhere {
  display: flex;
  flex-direction: column;
}

/* Logo and Nav Section */
.logo-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.printcapsuo-logo {
  width: auto;
  height: 130px;
  border-radius: 75px;
  margin: 10px 0;
}

nav {
  text-transform: lowercase;
  text-align: center;
  font-size: 16px;
}

li {
  display: inline;
  list-style-type: none;
  margin: 0 20px;
}

/* Link stuff */
a {
  text-decoration: none;
  color: black;
}

#active {
  background-color: #65c2d4;
  color: white;
  padding: 0 4px;
}

/* Break lines */
.styled-break {
  height: 1px;
  background-color: pink;
  margin: 30px 20px;
}

/* Intro text */
.intro-section {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.intro {
  margin: 0 40px;
}

/* Featured Collection */
.featured-section {
  margin: 20px;
}

.featured-section .container {
  margin: 10px;
}

@media (max-width: 767px) {
  .featured-section .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .featured-section .container {
    width: 100%;
    display: inline-block; /* shrink wrap to image */
    overflow: hidden; /* this is to keep the excess in the container. removing it means it'll zoom in and spill outside the container */
  }

  .featured-section .container img {
    width: 100%;
    display: block; /* no whitespace */
    transition: 0.3s ease-in-out;
  }
}

/* Section titles */
.title {
  align-self: center;
  text-decoration: underline;
  font-size: 20px;
}

/* Upcoming events */
.event-section {
  display: flex;
  justify-content: center;
  margin: 10px;
  flex-shrink: 1;
}

.test-div {
  width: 33%;
}

.events {
  margin: 20px;
}

.event-info {
  height: 60px;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
  flex-shrink: 1;
}

.date {
  margin: 5px;
  border-radius: 10px;
  background-color: white;
  font-family: "Share Tech Mono", monospace;
  margin: 10px;
  text-transform: uppercase;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 1;
}

.event-data {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.22rem;
  line-height: 1.3rem;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-solid fa-plus {
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 600px) {
  .event-section .container img {
    visibility: hidden;
    display: none;
  }
}

/* Newsletter */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

/* banner  allows me to centre the whole thing without centreing the "newsletter" title */
.banner-section {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.banner-section-top {
  margin-bottom: 10px;
}

@media (max-width: 550px) {
  .banner-section-bot {
    display: flex;
    flex-direction: column;
  }

  .banner {
    height: 100px;
  }

  .blurb {
    margin-bottom: 8px;
  }

  .cramorant {
    visibility: hidden;
    height: 0;
  }
}

/* banner-section keeps banner-section-top and banner-section-bot together, in a column, and aligned to the left */
.banner-title {
  font-size: 18px;
  font-weight: bold;
  font-family: "Share Tech Mono", monospace;
}

.blurb {
  margin-right: 5px;
  font-size: 14px;
}

.banner-section-bot {
  margin-left: 8px;
  display: flex;
}

/* emails inc newsletter + form */
#email {
  border-radius: 10px;
  color: #000000;
  border: 1px solid #dbdbdb;
  font-family: "Quicksand", sans-serif;
  width: 200px;
  height: 20px;
  font-size: 16px;
}

#email:focus {
  outline: 1px solid #65c2d4;
}

.subscribe {
  background-color: white;
  border-radius: 10px;
  color: #000000;
  border: 1px solid #dbdbdb;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

.subscribe:hover {
  background-color: white;
  border-color: #65c2d4;
  color: #65c2d4;
}

/* Contact Form */
.contact-form {
  align-self: center;
  margin: 10px;
}

.input-section {
  margin: 8px 0;
  display: flex;
  flex-wrap: wrap;
}

.message {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  color: #000000;
  border: 1px solid #dbdbdb;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

.message:focus {
  outline: 1px solid #65c2d4;
}

#fname {
  border-radius: 10px;
  color: #000000;
  border: 1px solid #dbdbdb;
  font-family: "Quicksand", sans-serif;
  width: 200px;
  height: 20px;
  font-size: 16px;
}

#fname:focus {
  outline: 1px solid #65c2d4;
}

#lname {
  border-radius: 10px;
  color: #000000;
  border: 1px solid #dbdbdb;
  font-family: "Quicksand", sans-serif;
  width: 200px;
  height: 20px;
  font-size: 16px;
}

#lname:focus {
  outline: 1px solid #65c2d4;
}

.submit-form {
  background-color: white;
  border-radius: 10px;
  color: #000000;
  border: 1px solid #dbdbdb;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  padding: 5px 10px;
}

.submit-form:hover {
  background-color: white;
  border-color: #65c2d4;
  color: #65c2d4;
}

/* aligns the text inputs */
.textform {
  width: 100px;
  display: inline-block;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.social-icons {
  margin: 20px;
}

/* controls the newletter icon and the envelope at the bottom. seems fine for now. */
.fa-solid {
  font-size: 20px;
  margin: 0 8px;
}

.fa-brands {
  font-size: 20px;
  margin: 0 8px;
}

a:hover {
  color: #65c2d4;
}

.btcontainer {
  margin: 20px;
  text-align: right;
  font-size: 14px;
}

/* CSS for About page */
.aboutsection {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.about-img {
  height: auto;
  width: 100%;
  margin: 10px;
}

.about-text {
  width: 400px;
  margin: 10px 30px;
  text-align: justify;
}

@media (max-width: 767px) {
  .aboutsection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .about-text {
    width: 400px;
    text-align: justify;
    min-width: 200px;
  }
}

/* CSS for Art page */

.hero-section {
  margin: 20px;
}

.row {
  display: flex;
  justify-content: center;
}

.container {
  width: 30%;
  display: inline-block; /* shrink wrap to image */
  overflow: hidden; /* this is to keep the excess in the container. removing it means it'll zoom in and spill outside the container */
}

.container img {
  width: 100%;
  display: block; /* no whitespace */
  transition: 0.3s ease-in-out;
}

.container:hover img {
  transform: scale(1.05);
}
